<p>{{currentPet.petName}}'s Info </p>

<button mat-button class="share-pet-button" (click)="openSharePetForm()">
    <mat-icon>share</mat-icon>
</button>
<button mat-button class="edit-button">
    <mat-icon (click)="editPetInfo()">edit</mat-icon>
</button>
<button mat-button class="delete-button" (click)="openDeletePetConfirmation()">
    <mat-icon>delete_outline</mat-icon>
</button>

<div>
    <p>Shared With</p>
    <div class="shared-with-list" *ngFor="let user of shareWithDisplay">
        <p>{{user}} </p>
        <button mat-button class="delete-button" (click)="removeShare(user)">
            <mat-icon>remove_circle_outline</mat-icon>
        </button>
    </div>
</div>

<div>
    <h2>Event Types</h2>
    <p>The following events will be used when making Daily Logs</p>
    <div *ngFor="let event of currentPet.eventTypes">
        <span>
            {{event}}
        </span>
        <button mat-button class="delete-button" (click)="removeEvent(event)">
            <mat-icon>remove_circle_outline</mat-icon>
        </button>
    </div>
    <form [formGroup]="addEventForm">
        <mat-form-field appearance="outline">
            <mat-label>Event Name</mat-label>
            <input formControlName="eventName" type="text" matInput placeholder="Walks">
            <mat-hint>Enter just a single event to track</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addEvent()" [disabled]="addEventForm.invalid">Add Event</button>
    </form>
</div>