<p>{{currentPet.petName}}'s Info </p>

<button mat-button class="share-pet-button" (click)="openSharePetForm()">
    <mat-icon>share</mat-icon>
</button>
<button mat-button class="edit-button">
    <mat-icon (click)="editPetInfo()">edit</mat-icon>
</button>
<button mat-button class="delete-button" (click)="openDeletePetConfirmation()">
    <mat-icon>delete_outline</mat-icon>
</button>

<div>
    <p>Shared With</p>
    <div class="shared-with-list" *ngFor="let user of shareWithDisplay">
        <p>{{user}} </p>
        <button mat-button class="delete-button" (click)="removeShare(user)">
            <mat-icon>remove_circle_outline</mat-icon>
        </button>
    </div>
</div>

<div>
    <mat-slide-toggle>Ability To Add Events To Past Logs?</mat-slide-toggle>
</div>

<div>
    <!-- <p>Event Types</p> -->
    <!-- 
        
        Event type options could be stored on the pet level, then when a new daily log is made, those events are added to that daily log
        This way, incase the events change in the future, the log values are correct for that day
    
    -->
</div>