.wrapper {
    width: 80%;
}

.header, .share-with, .event-types {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5em;
}

.header-actions {
    display: flex;
    flex-direction: row
}

.share-with {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto
}

.shared-with-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.share-pet-button {
    color: #72C7A9
}

.delete-button{
    color: #F2557A
}

.edit-button {
    color: #EC8ECE;
}

.add-button {
    background-color: #72C7A9;
}

.add-icon {
    color: #050535;
    font-size: 35px;
    line-height: inherit;
    width: inherit
}

.events-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 3em auto 1em;
    border-bottom: 2px solid #7B8EFF;
    width: 80%;
}

.event-list {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.event-name {
    margin: 1em 0;
    font-size: medium;
}

.delete-icon-displayed {
    justify-content: space-between;
}


.addEvent-form mat-form-field mat-label {
    color: white
}

.addEvent-form mat-form-field input {
    border-color: white
}

/* input outline color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #7B8EFF!important;
    opacity: 1 !important;
}

/* mat-input focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #01FDF7!important;
}

/* mat-input error outline color */
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: #F2557A!important;
    opacity: 0.8!important;
}

/* mat-hint outline color */
::ng-deep .mat-hint {
    color: white!important;
}

::ng-dep .mat-button-disabled {
    background-color: gray !important
}
