<div>
    <form [formGroup]="addEventForm" (ngSubmit)="addDailyLogEvent()">
        <div>
            <mat-label>Select an event</mat-label>
            <mat-radio-group class="event-form-button-group" formControlName="type">
                <mat-label>Diet</mat-label>
                <mat-radio-button class="event-form-button" value="food">Food</mat-radio-button>
                <mat-radio-button class="event-form-button" value="water">Water</mat-radio-button>
                <mat-radio-button class="event-form-button" value="treat">Treat</mat-radio-button>
                <mat-label>Outside</mat-label>
                <mat-radio-button class="event-form-button" value="walk">Walk</mat-radio-button>
                <mat-radio-button class="event-form-button" value="pee">Pee</mat-radio-button>
                <mat-radio-button class="event-form-button" value="poop">Poop</mat-radio-button>
                <mat-label>Medicine</mat-label>
                <mat-radio-button class="event-form-button" value="medicine">Medicine</mat-radio-button>
            </mat-radio-group>
        </div>

        <div appearance="outline">
            <mat-label>Notes</mat-label>
            <input formControlName="notes" type="text" matInput placeholder="Notes">
        </div>

        <button type="submit" mat-raised-button color="primary">Save Event</button>
    </form>
</div>