<div>
    <form [formGroup]="addEventForm" (ngSubmit)="addDailyLogEvent()">
        <div>
            <mat-radio-group class="event-form-button-group" formControlName="type">
                <div class="event-button-section">
                    <span *ngFor="let event of eventTypes">
                        <mat-radio-button class="event-form-button" value="{{event}}">{{event}}</mat-radio-button> 
                    </span>
                </div>
            </mat-radio-group>
        </div>

        <div class="event-notes" appearance="outline">
            <mat-label>Notes</mat-label>
            <textarea formControlName="notes" rows="4" type="text" matInput placeholder="Notes"></textarea>
        </div>

        <button class="save-event-button" type="submit" mat-raised-button color="primary">Save Event</button>
    </form>
</div>