<mat-card class="form-card">
    <form [formGroup]="addPetForm">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Pet's Name</mat-label>
                <input formControlName="petName" type="text" matInput placeholder="Pet's Name">
            </mat-form-field>
        </p>
        <div>
            <mat-label>Select a species</mat-label>
            <mat-radio-group class="species-radio-group" formControlName="species">
                <mat-radio-button class="species-radio-button" value="dog">Dog</mat-radio-button>
                <mat-radio-button class="species-radio-button" value="cat">Cat</mat-radio-button>
            </mat-radio-group>
        </div>
        <div>
            <mat-label>Select a gender</mat-label>
            <mat-radio-group class="gender-radio-group" formControlName="gender">
                <mat-radio-button class="gender-radio-button" value="male">Male</mat-radio-button>
                <mat-radio-button class="gender-radio-button" value="female">Female</mat-radio-button>
            </mat-radio-group>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Birthday</mat-label>
                <input formControlName="birthday" matInput [matDatepicker]="birthdayDatepicker">
                <mat-datepicker-toggle matSuffix [for]="birthdayDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #birthdayDatepicker></mat-datepicker>
            </mat-form-field>
        </div>

        <button *ngIf="!editMode" mat-raised-button color="primary" (click)="addPet()">Add Pet</button>
        <button *ngIf="editMode" mat-raised-button color="primary" (click)="updatePet()">Update</button>
        <button *ngIf="editMode" mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
    </form>
</mat-card>