.species-radio-group,
.gender-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.species-radio-button,
.gender-radio-button {
    margin: 5px;
}

.event-hint-text {
    color: black !important;
}