
<!-- 
<div>
    <h1>Welcome</h1>
</div> -->

<form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginUser()" type="">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input autocomplete="off" formControlName="email" type="email" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
    </mat-form-field>
    <div *ngIf="firebaseErrorMessage != ''" class="error-style">
        <span>{{ firebaseErrorMessage }}</span>
    </div>

    <div>
        <button mat-raised-button color="primary">Login</button>
        <button mat-raised-button (click)="navigateToSignup()">Signup</button>
    </div>
</form>


<!-- <div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
    <mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate"></mat-progress-spinner>
</div> -->