.delete-button{
    color: #F2557A
}

.edit-button {
    color: #EC8ECE;
}

.daily-log-header {
    text-align: center
}

.summary-wrapper {
    width: 80%;
    margin: 1em auto;
    border: 2px solid #7B8EFF;
    background-color: #17164E;
    padding: 0.5em;
    border-radius: 5px
}

.summary-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row
}

.events-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center
}

.events-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 3em auto 1em;
    border-bottom: 2px solid #7B8EFF;
    width: 80%;
}

.events-table {
    width: 90%;
    margin: auto;
}

.events-panel, 
.events-panel:hover, 
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) 
.mat-expansion-panel-header:hover  {
    background-color: #17164E; 
}

.mat-expansion-indicator::after {
    color: #66C4FA !important
}

.event-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.events-panel-header {
    color: white
}

.events-panel-content {
    color: white
}

.add-button {
    background-color: #72C7A9;
}

.add-icon {
    color: #050535;
    font-size: 35px;
    line-height: inherit;
    width: inherit
}