<button mat-button class="delete-button" (click)="deleteDailyLog()">
    <mat-icon>delete_outline</mat-icon>
</button>

<div class="daily-log-header">
    <p>{{dailyLog.date | date: 'shortDate'}}</p>
    <h2>Daily Summary</h2>
</div>

<div class="summary-wrapper">
    <div class="summary-row">
        <p>Food</p>
        <p>Water</p>
        <p>Treats</p>
        <p>Pee</p>
        <p>Poop</p>
    </div>
    <div class="summary-row">
        <p>{{eventCounts.food}}</p>
        <p>{{eventCounts.water}}</p>
        <p>{{eventCounts.treat}}</p>
        <p>{{eventCounts.pee}}</p>
        <p>{{eventCounts.poop}}</p>
    </div>
</div>



<div class="events-header">
    <h2>Events</h2>
    <button mat-mini-fab class="add-button" (click)="openAddEventForm()">
        <mat-icon class="add-icon">add</mat-icon>
    </button>
</div>
<div *ngIf="dailyLog.events.length > 0"  class="events-wrapper">
    <table mat-table [dataSource]="dailyLog.events" class="mat-elevation-z8 events-table">

        <!-- Time Column -->
        <ng-container matColumnDef="time">
            <mat-header-cell class="events-table-header" *matHeaderCellDef> Time </mat-header-cell>
            <mat-cell class="events-table-cell" *matCellDef="let element"> {{element.time | date: 'shortTime'}}
            </mat-cell>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
            <mat-header-cell class="events-table-header" *matHeaderCellDef> Type </mat-header-cell>
            <mat-cell class="events-table-cell" *matCellDef="let element"> {{element.type}} </mat-cell>
        </ng-container>

        <!-- User Column -->
        <ng-container matColumnDef="user">
            <mat-header-cell class="events-table-header" *matHeaderCellDef> User </mat-header-cell>
            <mat-cell class="events-table-cell" *matCellDef="let element"> {{element.userEmail}} </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <mat-header-cell class="events-table-header" *matHeaderCellDef> </mat-header-cell>
            <mat-cell class="events-table-cell" *matCellDef="let element"> <button mat-button class="delete-button"
                    (click)="deleteEvent(element)">
                    <mat-icon>delete_outline</mat-icon>
                </button> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['time', 'type', 'user', 'actions']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['time', 'type', 'user', 'actions'];"></mat-row>
    </table>
</div>