<button mat-button class="delete-button" (click)="deleteDailyLog()">
    <mat-icon>delete_outline</mat-icon>
</button>

<div class="daily-log-header">
    <p>{{dailyLog.date | date: 'shortDate'}}</p>
    <h2>Daily Summary</h2>
</div>

<div class="summary-wrapper">
    <div class="summary-row">
        <p *ngFor="let event of eventCounts | keyvalue">
            {{event.key}} <br />
            {{event.value || 0}}
        </p>
    </div>
</div>



<div class="events-header">
    <h2>Events</h2>
    <button *ngIf="todayLog" mat-mini-fab class="add-button" (click)="openAddEventForm()">
        <mat-icon class="add-icon">add</mat-icon>
    </button>
</div>

<div class="events-table">
    <mat-expansion-panel class="events-panel" *ngFor="let logEvent of dailyLog.events" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title class="events-panel-header">
                {{logEvent.time | date: 'shortTime'}}
            </mat-panel-title>
            <mat-panel-description class="events-panel-desc">
                {{logEvent.type}}
                <mat-icon>more_horiz</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="events-panel-content">
            <p *ngIf="logEvent.notes">{{logEvent.notes}}</p>
            <div class="events-panel-footer">
                <div>
                    <p class="event-created-by">{{logEvent.userEmail}}</p>
                </div>
                <div class="event-buttons">
                    <!-- <button mat-button class="edit-button">
                        <mat-icon>edit</mat-icon>
                    </button> -->
                    <button *ngIf="logEvent.userEmail === this.user.email" mat-button class="delete-button" (click)="deleteEvent(logEvent)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </div>
            </div>

        </div>
    </mat-expansion-panel>
</div>