.delete-button{
    color: #F2557A
}

.events-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center
}

.events-table {
    width: 90%;
    background-color: #17164E; 
}

.events-table-header, .events-table-cell {
    color: white
}