<form [formGroup]="addEventForm" class="addEvent-form">
    <p>Add a single event that you want to track</p>
    <mat-form-field appearance="outline">
        <mat-label>Event Name</mat-label>
        <input formControlName="eventName" type="text" matInput placeholder="Walks">
        <mat-hint>Enter an event to track</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addEvent()" [disabled]="addEventForm.invalid">Add Event</button>
    <button mat-raised-button (click)="closeDialog()">Cancel</button>
</form>