.sidenav-container {
    background-color: #050535;
    color: white;
    height: 100%;
}

.side-nav{
    min-width: 150px;
    background-color: #17164E;
    color: white
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
}

.sidenav-buttons {
    display: flex;
    flex-direction: column
}