.sidenav-container {
    background-color: #050535;
    color: white;
    height: 100%;
}

.side-nav{
    min-width: 150px;
    background-color: #17164E;
    color: white
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #17164E;
    z-index: 1000;
    padding: .5em
}

.sidenav-buttons {
    display: flex;
    flex-direction: column
}