.sidenav-container {
    background-color: #050535;
    color: white;
    min-height: 100vh
}

.side-nav{
    min-width: 150px;
    background-color: #17164E;
    color: white
}

.sidenav-buttons {
    display: flex;
    flex-direction: column
}