<mat-sidenav-container hasBackdrop class="sidenav-container">
    <mat-sidenav mode="over" #sidenav *ngIf="showNavButton" class="side-nav">
        <div class="sidenav-buttons">
            <button class="nav-button" mat-button (click)="navigateHome()">
                <mat-icon>pets</mat-icon>
                <span> Your Pets</span>
            </button>
            <button class="nav-button" mat-button (click)="logOut()">
                <mat-icon>logout</mat-icon>
                <span> Logout</span>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="nav-buttons" *ngIf="showNavButton">
            <button mat-button (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-button (click)="toggleSideNav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>