<div *ngIf="this.currentUser.email === this.currentPet.ownerEmail" class="pet-action-buttons">
    <button mat-button class="settings-button">
        <mat-icon (click)="navigateToManagePet()">settings</mat-icon>
    </button>
    <!-- <button mat-button class="share-pet-button" (click)="openSharePetForm()">
        <mat-icon>share</mat-icon>
    </button>
     -->
</div>
<div class="pet-details-header">
    <img class="pet-details-icon" [src]="petIconSource">
    <h1>{{currentPet.petName}}</h1>
</div>

<div class="pet-detail-info">
    <div>
        <p *ngIf="currentPet.ownerEmail !== currentUser.email">Primary Owner: {{currentPet.ownerEmail}}</p>
    </div>
</div>


<!-- <button (click)="addDailyLog()">Add Daily Log</button> -->

<!-- <div class="daily-log-card" *ngFor="let log of dailyLogs" (click)="navigateToDailyLog(log)">
    <div>{{log.date | date:'shortDate'}}</div>
</div> -->

<div class="daily-log-table-wrapper">
    <table mat-table class="daily-log-table" [dataSource]="dataSource">
        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th class="daily-logs-header" mat-header-cell *matHeaderCellDef> Daily Logs </th>
            <td class="daily-log-card mat-elevation-z8" (click)="navigateToDailyLog(log)" mat-cell
                *matCellDef="let log">
                {{log.date | date:'shortDate'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="log-table-paginator" [pageSize]="7">
    </mat-paginator>
</div>

<div *ngIf="dataSource.data.length === 0">
    <p>Doesn't look like {{currentPet.petName}} has any Daily Logs created</p>
    <p>Press the plus button below to add one</p>

</div>

<button mat-fab class="add-button" (click)="addDailyLog()">
    <mat-icon class="add-icon">add</mat-icon>
</button>