<div *ngIf="this.currentUser.email === this.currentPet.ownerEmail" class="pet-action-buttons">
    <button mat-button class="edit-button">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-button class="share-pet-button" (click)="openSharePetForm()">
        <mat-icon>share</mat-icon>
    </button>
    <button  mat-button class="delete-button" (click)="deletePet()">
        <mat-icon>delete_outline</mat-icon>
    </button>
</div>
<div class="pet-details-header">
    <img class="pet-details-icon" src="../../../assets/dog.png">
    <h1>{{currentPet.petName}}</h1>
</div>

<div class="pet-detail-info">
    <div>
        <p>Age: 6 years</p>
        <p>Breed: Yellow Lab</p>
    </div>
    <div>
        <p>Weight: 50lbs</p>
        <p>Miles Walked: 100</p>
    </div>
</div>


<!-- <button (click)="addDailyLog()">Add Daily Log</button> -->

<h2 class="daily-logs-header">Daily Logs</h2>
<div class="daily-log-card" *ngFor="let log of dailyLogs" (click)="navigateToDailyLog(log)">
    <div>{{log.date | date:'shortDate'}}</div>
</div>

<button mat-fab class="add-button" (click)="addDailyLog()">
    <mat-icon class="add-icon">add</mat-icon>
</button>